.mainHeader {
    &__logo {
        margin: 8px 0 0;
    }
    a {
        text-decoration: none;
        color: white;
    }
    nav {
        margin-bottom: 20px;
        position: relative;

        .mat-tab-link {
            min-width: 130px;
            color: black;

            &:hover {
                color: #26a69a;
            }
        }
    }
    /* Smaller devices */
    @media screen and (max-width: 959px) {
        /* align the logo in the centre */
        &__logoContainer {
            margin: auto;
        }
    } 
}