<header class="mainHeader">
    <!-- <mat-toolbar> is a container for headers, titles, or actions. -->
    <mat-toolbar color="primary">
        <span class="mainHeader__logoContainer">
            <!-- Create a link to a different view based on a route instruction consisting of a route path -->
            <a routerLink="/">
                <img class="mainHeader__logo" src="../../assets/images/logos/mobiquity-logo.png" alt="Mobiquity">
            </a>
        </span>
    </mat-toolbar>

    <!-- Secondary nav area -->
    <nav mat-tab-nav-bar >
        <a mat-tab-link
            [routerLinkActiveOptions]="{exact: true}"
            *ngFor="let link of navLinks"
            [routerLink]="link.path"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            {{ link.label }}
        </a>
    </nav>
</header>

