<footer>
  <!-- <mat-toolbar> is a container for headers, titles, or actions. -->
  <mat-toolbar color="primary" class="footer-toolbar">
      <mat-toolbar-row class="footer-toolbar__row">
        <span>
          Made with
          <mat-icon fontSet="fa" fontIcon="fa-heart" color="warn"></mat-icon>
          by Given Mthimunye
        </span>
        <span class="footer-toolbar__spacer"></span>
        <span>
          <!-- Iterate over frontendTechnologies array of objects and bind to src property -->
          <img *ngFor="let tech of frontendTechnologies" [src]="tech.imagePath" [alt]="tech.name">
        </span>
      </mat-toolbar-row>
  </mat-toolbar>
</footer>