.footer-toolbar {
    margin: 40px auto 0;

    img {
        width: 40px;
        padding: 5px;
    }

    &__spacer {
        flex: 1 1 auto;
    }
    &__row {
        padding: 15px;
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        height: auto;
    }

    /* Smaller devices */
    @media screen and (max-width: 959px) {
        &__row {
            flex-direction: column;
        }
    }
}
