<!-- Indicator to show progress and activity, show when isLoading is true. -->
<mat-spinner [hidden]="!isLoading"></mat-spinner>

<!-- Table legend and table, hide when isLoading is true and show when calls are complete.
     Hear I'm using [hidden] instead of *ngIf, this is just to show that "there are more ways than one to skin a cat",
     although this method is not desired as the "display: none" style attached carries low specificity and can be easy 
     to override accidentally-->
<div class="legend" [hidden]="isLoading">
  <span name="highlightWorldChampion"></span>
  World Champion
</div>

<!-- Pass a data array to the table's dataSource input, the table will take the array and render a row for each object. -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" [hidden]="isLoading">
  
  <!-- Driver Column -->
  <!-- Column template with unique column definition. -->
  <ng-container matColumnDef="driver"> 
    <th mat-header-cell *matHeaderCellDef> Driver </th>
   <td mat-cell *matCellDef="let row" 
        [ngClass]="{'highlightChampion': worldChampion.driverId == row.Results[0].Driver.driverId}"> 
      {{ row.Results[0].Driver.givenName + ' ' + row.Results[0].Driver.familyName }} 
    </td>
  </ng-container>

  <!-- Constructor Column -->
  <ng-container matColumnDef="constructor">
    <th mat-header-cell *matHeaderCellDef>
      Constructor
    </th>
    <td mat-cell *matCellDef="let row" > 
        <img [ngClass]="'constructorLogo'" [src]="getConstructorLogo(row.Results[0].Constructor.name)" [alt]="row.Results[0].Constructor.name" />
    </td>
  </ng-container>

  <!-- Race Column -->
  <ng-container matColumnDef="race"> 
    <th mat-header-cell *matHeaderCellDef> Race </th>
    <td mat-cell *matCellDef="let row"> {{ row.raceName }} </td>
  </ng-container>

  <!-- Date Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
    <td mat-cell *matCellDef="let row"> {{ row.date | date: 'dd-MM-yy' }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Display info message when no data is available. -->
<p class="mat-body-1" *ngIf="winners.length < 0 && !isLoading">No data available.</p>