mat-spinner {
    margin: auto;
}
table.mat-table {
    width: 100%;
}
.constructorLogo {
    max-width: 191px;
}
.highlightChampion {
    border-left: 5px solid #008000;
}
.legend {
    padding: 15px 0;
    text-align: right;
    font-size: 11px;

    & span {
        border-left: 5px solid green; 
        height: 15px;
        padding-right: 5px;
    }
}
[hidden] { 
    display: none !important;
}

.mat-header-row {
    position: sticky;
    position: -webkit-sticky;
    top: -8px;
    background-color: inherit;
}

/* iPhone */
@media screen and (max-width: 959px) {
    .mat-cell {
        font-size: 11px;
    }
    .constructorLogo {
        max-width: 90px;
    }
} 
/* iPad */
@media screen and (min-width: 960px) and (max-width: 1279px) {
    
} 
/* Desktop */
@media screen and (min-width: 1280px) and (max-width: 1919px) {

} 