<!-- Indicator to show progress and activity, show when isLoading is true. -->
<mat-spinner *ngIf="isLoading"></mat-spinner>

<!-- Hide table when isLoading is true and show when calls are complete. -->
<!-- Pass a data array to the table's dataSource input, the table will take the array and render a row for each object. -->
<!-- Add the matSort directive to the table and mat-sort-header to each column header cell that should trigger sorting. -->
<table style="flex: 1;" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 dataTable" *ngIf="!isLoading">

  <!-- Icon Column -->
  <!-- Column template with unique column definition. -->
  <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let data"> 
      <mat-icon fontSet="fa" fontIcon="fa-flag-checkered"></mat-icon>
    </td>
  </ng-container>

  <!-- Championship Year Column -->
  <ng-container matColumnDef="season">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Season </th>
    <td mat-cell *matCellDef="let data"> {{data.season}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> View </th>
    <td mat-cell *matCellDef="let data">
      <!-- Add an action button with a click event binding to invoke the function to open the bottom sheet 
           and pass the season/year as a parameter .-->
      <button mat-icon-button color="accent" (click)="openBottomSheet(data.season)">
        <mat-icon fontSet="fa" fontIcon="fa-eye"></mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Display info message when no data is available. -->
<p class="mat-body-1 noDataError" *ngIf="championships.length < 0 && !isLoading">No data available.</p>