table.mat-table {
    margin: auto;
    width: 50%;
}
th.mat-sort-header-sorted {
    color: black;
}
mat-spinner {
    margin: auto;
    margin-top: 25%;
}
.mat-header-row {
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
}
.noDataError {
    text-align: center;
}

@media all and (max-width: 1024px) {
    table.mat-table {
        width: 100%;
    }
    mat-spinner {
        margin-top: 50%;
    }
} 