<!-- Header  -->
<app-header></app-header>
<!-- Main content area -->
<main>
  <!-- router-outlet marks the location to load the component of the active route -->
    <router-outlet></router-outlet>
</main>
<!-- Footer  -->
<app-footer></app-footer>
