/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-teal);
$accent:  mat-palette($mat-teal, 500, 900, A100);
$warn:    mat-palette($mat-red);

$config: mat-typography-config();

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

body {
  font-family: mat-font-family($config);
  font-weight: normal;
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
}